---
import Content from "@/components/Content.astro";
import Aside from "@/components/Aside.astro";
import Signature from "@/components/Signature.astro";
import Footer from "@/components/Footer.astro";
import Root from "@/layouts/Root.astro";
import StickyHeader from "@/components/StickyHeader.astro";

const BASE_URL = import.meta.env.MODE === "production" ? import.meta.env.SITE : Astro.url;
---

<Root>
  <StickyHeader />
  <main class="w-full mx-auto min-w-0 max-w-full">
    <section class="w-full mx-auto max-w-7xl">
      <header class="relative z-10 grid md:grid-cols-12" id="observer-header">
        <section class="sticky top-0 md:relative flex md:justify-end md:col-span-4 overflow-hidden bg-cover">
          <img src={`${BASE_URL}/foto_de_laura_font_sommelier.webp`} alt="Astro" class="w-full object-cover md:max-w-md" />
          <button
            data-toggle="drawer-menu"
            class="group absolute top-10 z-10 right-10 rounded-full inline-flex md:hidden items-center justify-center w-12 h-12 cursor-pointer bg-white"
          >
            <div class="absolute top-0 left-0 w-full h-full inline-flex items-center justify-center flex-col gap-1">
              <span
                class='h-0.5 w-5 bg-current rounded-full transition-transform transform duration-300 group-data-[expanded="true"]:rotate-45 group-data-[expanded="true"]:translate-y-1 group-data-[expanded="false"]:translate-y-0'
                ,></span>
              <span
                class="h-0.5 w-5 bg-current rounded-full transition-transform transform duration-300 group-data-[expanded='true']:scale-0 group-data-[expanded='false']:scale-100"
              ></span>
              <span
                class="h-0.5 w-5 bg-current rounded-full transition-transform transform duration-300 group-data-[expanded='true']:-rotate-45 group-data-[expanded='true']:-translate-y-2 group-data-[expanded='false']:translate-y-0"
              ></span>
            </div>
          </button>
        </section>
        <section class="sticky top-0 md:col-span-8 bg-hero-background text-hero-foreground">
          <div class="w-full h-full flex items-center justify-between p-10 sm:p-12 lg:p-16">
            <div class="flex-1">
              <h1>
                <span class="leading-10 text-5xl sm:text-6xl md:leading-16 md:text-7xl 2xl:leading-18 2xl:text-8xl font-black font-barlow uppercase">Laura</span>
                <br />
                <span class="leading-10 text-5xl sm:text-6xl md:leading-16 md:text-7xl 2xl:leading-18 2xl:text-8xl font-black font-barlow uppercase">Font</span>
              </h1>
              <h2 class="font-barlow md:text-[32px] 2xl:text-[42px] uppercase text-hero-foreground/80">Sommelier</h2>
            </div>
            <figure class="w-full max-w-32 lg:max-w-44">
              <Signature />
            </figure>
          </div>
        </section>
      </header>
      <section class="relative z-10 w-full grid md:grid-cols-12 bg-content-background text-content-foreground">
        <Aside />
        <Content />
      </section>
      <Footer />
    </section>
  </main>
</Root>

<script>
  function stickyHandler() {
    const stickyHeader = document.querySelector("[data-sticky-header]") as HTMLElement;
    const observerHeader = document.querySelector("#observer-header") as HTMLElement;

    const observer = new IntersectionObserver(
      (entries) => {
        entries.forEach((entry) => {
          if (entry.isIntersecting) {
            // Ocultar solo con clase de Tailwind
            stickyHeader.removeAttribute("data-visible");
          } else {
            // Mostrar sticky con transición
            stickyHeader.setAttribute("data-visible", "");
          }
        });
      },
      { threshold: 0 }
    );

    observer.observe(observerHeader);
  }

  document.addEventListener("DOMContentLoaded", stickyHandler);
  window.addEventListener("astro:page-load", stickyHandler);
</script>
